<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    			
    			<!-- persistence setup : Database -->
    			
				 <!-- Database connection settings -->
				 <!-- 
        		<property name="connection.driver_class">org.postgresql.Driver</property>
        		<property name="connection.url">jdbc:postgresql://localhost:5432/portal</property>
        		<property name="connection.username">pavel</property>
        		<property name="connection.password"></property>
        		 -->
        		
        		<!-- 
 				<property name="hbm2ddl.auto">validate</property>
 				 -->
 				
 				<!-- Enable Hibernate's automatic session context management -->
 				<!-- 
        		<property name="current_session_context_class">thread</property>
        		 -->
	         
        		<!-- JDBC connection pool (use the built-in) -->
        		<property name="hibernate.connection.pool_size">${hibernate.connection.pool_size}</property>
        		<!-- SQL dialect -->
				<property name="hibernate.dialect">${hibernate.dialect}</property>
				<!-- Echo all executed SQL to stdout -->
				<property name="hibernate.show_sql">${hibernate.show_sql}</property>
				
				<!-- 
				<property name="hibernate.format_sql">true</property>
				<property name="hibernate.use_sql_comments">true</property>
				
				<property name="hibernate.generate_statistics">true</property>
				<property name="hibernate.max_fetch_depth">3</property>
				<property name="hibernate.cglib.use_reflection_optimizer">false</property>
				 -->
	
	
				 <!-- mapping files -->
				 <!-- assuming that is the package with your hibernate entities -->
        		<mapping resource="com/portal/model/domain/Roles.hbm.xml"/>
        		<mapping resource="com/portal/model/domain/Users.hbm.xml"/>
        		 
        		
        		
        		<!--  cache settings -->
        		
        		<!-- Disable the second-level cache  -->
        		<!-- <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->
        		<!-- <property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property> -->
        		
    </session-factory>
</hibernate-configuration>
