	
	</div><!-- /.panel -->
	
	</div><!-- /.container -->
	</div><!-- /.wrap -->

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">&copy; Company 2013.</p>
      </div>
    </div>

  	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="$root/js/jquery.js"></script>
    <script src="$root/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>