<!DOCTYPE html>
<html lang="en">

<head>

<title>$page_title</title>

#set( $root = $link.getContextPath() )

	<script src="/js/jquery.js" type="text/javascript"></script>
	<script src="/js/jquery.validate.js" type="text/javascript"></script>
	<script src="/js/validar.js" type="text/javascript"></script>
	<link rel="shortcut icon" href="/images/ico/favicon.png">

	<!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    
    <!-- Font awesome -->
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Custom own styles -->
    <link href="/css/style.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="/css/sticky-footer.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
 
	<!-- Wrap all page content here -->
	<div id="wrap">
 
	<!-- Begin page content -->
	<div class="container">
	

<!-- For left-right divs -->	
<div class="page-header">


<nav class="navbar navbar-custom" role="navigation">



  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Simple Project</a>
  </div>
  
#if ($panel_title)

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/user/list.html">Users</a></li>
          <li class="divider"></li>
          <li><a href="/leave.html">Exit</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  
#end
  
</nav>



		<div style="clear: both;"></div>
		
		<!--
		<div class="page-header">
          <h1>Example header <small>Subtext for header</small></h1>
        </div>
        -->
        
</div>        
        <div class="panel panel-success">
        #if($panel_title)
        	<div class="panel-heading">
        		<div class="divalignleft">
        		<b>$panel_title</b>
        		</div>
        		<div class="divalignright">
        		<a class="close" href="/leave.html" aria-hidden="true">&times;</a>
        		</div>
        		<div style="clear: both;"></div>
        	</div>
        	
        	
        #end
  		<div class="panel-body">