#parse("/view/header.vm")
		 

         
        <!-- <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p> -->
		<!-- <div class="alert alert-success">Well done! You successfully read this important alert message.</div> -->
		<div class="login-form">
		
		#if ( $loginerror!="" )
			<div class="alert alert-error">
			<a class="close" data-dismiss="alert">x</a>  
			<spring:message code="$loginerror" />
			Your login attempt was not successful, try again.<br /> Caused : $SPRING_SECURITY_LAST_EXCEPTION.message
			</div>
		#end
		
		<form action="j_spring_security_check" class="form-horizontal" role="form" method="post" name="formulario" id="formulario">
			<div class="form-group">
    			<label for="user" class="col-lg-2 control-label">Login</label>  							<!-- for equals id of below input -->
    			<div class="col-lg-10">
      				<input type="text" class="form-control" placeholder="Login" name="j_username" id="user"/>
    			</div>
  			</div>
			<div class="form-group">
    			<label for="password" class="col-lg-2 control-label">Password</label>  						<!-- for equals id of below input -->
    			<div class="col-lg-10">
      				<input type="password" class="form-control" placeholder="Password" name="j_password" id="password"/>
    			</div>
  			</div>  
  			<!-- 			
  			<div class="form-group">
    			<div class="col-lg-offset-2 col-lg-10">
      			<div class="checkbox">
        			<label>
          				<input type="checkbox"> Remember me
        			</label>
      			</div>
    			</div>
  			</div>
   			-->
  			<div class="form-group">
    			<div class="col-lg-offset-2 col-lg-10">
      				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Sign in</button>
    			</div>
  			</div>  

        </form>    
		
		</div>

</div><!-- /.panel-body -->		
#parse("/view/footer.vm")