#parse("/view/header.vm")
		 

         
        <!-- <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p> -->
		<!-- <div class="alert alert-success">Well done! You successfully read this important alert message.</div> -->
		<div class="login-form">
		
		#if ( $loginerror!="" )
			<div class="alert alert-warning">
		  		<button type="button" class="close" data-dismiss="alert">&times;</button>
		  		<strong>Your login attempt was not successful, try again.<br /> Caused : $SPRING_SECURITY_LAST_EXCEPTION.message
		  	</div>

		  	<script>
		  	
		  	$(function() {
		  		
		  		$("#boxBtn").effect( "shake", {times:2, distance:10}, 600 );

		  	});
		    	
		    </script>
		    
		#end
		
		<form action="j_spring_security_check" class="form-horizontal" role="form" method="post" name="formulario" id="formulario">
		
			<div class="form-group">
    			<div class="col-lg-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="icon-user"></i></span>
						<input type="text" class="form-control" style="width:275px" placeholder="Login" name="j_username" id="user"/>
					</div>
    			</div>
  			</div>
			<div class="form-group">
    			<div class="col-lg-10">
					<div class="input-group">
				        <span class="input-group-addon"><i class="icon-key"></i></span>
				        <input type="password" class="form-control" style="width:275px" placeholder="Password" name="j_password" id="password"/>
					</div>
    			</div>
  			</div>  	
			
 			<div class="form-group">
				<div class="col-lg-10">
		  			<div class="checkbox">
		    			<label>
		      				<input type="checkbox" name="_spring_security_remember_me"> Remember me
		    			</label>
		  			</div>
				</div>
			</div>
  			
			<div id="boxBtn" class="form-group">
    			<div class="col-lg-10">
      				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Sign in</button>
    			</div>
  			</div>  

        </form>    
		
		</div>
		

</div><!-- /.panel-body -->		
#parse("/view/footer.vm")