#parse("/view/header.vm")


	You are Welcome! Your login is: $username

	<br>
	


	<br>
	<br>


	<a class="btn btn-default" href="user/list.html">
	Users
	</a>


</div><!-- /.panel-body -->
#parse("/view/footer.vm")