#parse("/view/header.vm")


	Signed in, as <b>$username</b>!
	
	<br>
	<br>

	<!--
	<a class="btn btn-default" href="user/list.html">
	Users
	</a>
	-->


</div><!-- /.panel-body -->
#parse("/view/footer.vm")