#parse("/view/header.vm")

#*
Multi-line comment here
#if($userv.code == 0)
<p>add user</p>
#else
<p>edit user</p>
#end
*#

<form action="users.html" commandName="UserData" class="form-horizontal" role="form" method="post" name="formulario" id="formulario">
	
	#*
	<div class="form-group">
		<form:errors path="phone" cssStyle="color : red;"/>
	</div>
	*#
	
  	<div class="form-group">
	    <label for="code" class="col-lg-2 control-label">Code</label>
	    <div class="col-lg-10">
      	<input type="text" class="form-control" name="code" id="code" placeholder="Code" value="$userv.code" style="width:175px">
    	</div>
  	</div>
  	<div class="form-group">
	    <label for="name" class="col-lg-2 control-label">Name</label>
	    <div class="col-lg-10">
      	<input type="text" class="form-control" name="name" id="name" placeholder="Name" value="$userv.name" style="width:175px">
    	</div>
  	</div>  	
  	<div class="form-group">
	    <label for="birth" class="col-lg-2 control-label">Birth</label>
	    <div class="col-lg-10">
      	<input type="text" class="form-control" name="birth" id="birth" placeholder="Birth" value="$userv.birth" style="width:175px">
    	</div>
  	</div>  	
  	<div class="form-group">
	    <label for="phone" class="col-lg-2 control-label">Phone</label>
	    <div class="col-lg-10">
      	<input type="text" class="form-control" name="phone" id="phone" placeholder="Phone" value="$userv.phone" style="width:175px">
    	</div>
  	</div>  	
	<div class="form-group">
	    <label for="rol" class="col-lg-2 control-label">Role</label>
	    <div class="col-lg-10">
			<select name="role" class="form-control" style="width:175px">
				#foreach ($list in $list_roles)
					#if($userv.roles.id==$list.id)
						<option value="$list.id" selected="selected">$list.name</option>
					#else
						<option value="$list.id">$list.name</option>
					#end
				#end
			</select>      	
    	</div>
  	</div>
   	<div class="form-group">
	    <label class="col-lg-2 control-label"></label>
	    <div class="col-lg-10">
			#if($userv.code == 0)
				<input type="submit" class="btn btn-success" name="add" value="Add">   
			#else
				<input type="submit" class="btn btn-success" name="save" value="Save">   
			#end
			<input type="submit" class="btn btn-warning" name="cancel" value="Cancel">   
    	</div>
  	</div> 	
	
</form>


</div><!-- /.panel-body -->
#parse("/view/footer.vm")